			#nome{
				font-weight: bold;	
				font-size: 17px;
				text-align: center;
			}
			#nome1{
				font-size: 17px;
				text-align: center;
			}
			#Body{
				background-color: purple; 
			}
			#Header{
				background-color: pink; 
				display: flex;
				justify-content: space-around;
			}
			#img{
				background-color: white;
				width:320px;
				height:205px;
				right: 1500px;
			#nav{
				background-color: red;
				box-shadow: 7px 7px 9px 0px black;
			}
			#main{
				background-color: green; 
			}
			#tres{
				background-color: orange; 
			}
			#meio{
				background-color: blue; 
			}
			#um{
				background-color: gray; 
			}
			#dois{
				background-color: turquoise; 
			}
			#quatro{
				background-color: brown; 
			}
			#k{
				background-color: green; 
           			font-size: 25px;
				text-align: center;
			}
